[Desktop Entry]
Encoding=UTF-8
Version=1.0
Type=Application
Terminal=false
Name=SymProfileScheduler
Exec=/usr/bin/single-instance /opt/SymProfileScheduler/bin/SymProfileScheduler
Icon=/usr/share/icons/hicolor/80x80/apps/SymProfileScheduler80.png
X-Window-Icon=
X-HildonDesk-ShowInToolbar=true
X-Osso-Type=application/x-executable
